<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="postData()">
        <div class="row">
            <div class="col-lg-6">
                <label for="">Name</label>
                <input type="text" formControlName="name" class="form-control"/>
                <span *ngIf="!userForm.get('name')?.valid && userForm.get('name')?.dirty" style="color: red;">User name should be more than five letters</span>
            </div>
            <div class="col-lg-6">
                <label for="">E-Mail</label>
                <input type="text" formControlName="email" class="form-control"/>
                <span *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.dirty" style="color: red;">Enter a valid E-mail</span>
            </div>
            <div class="col-lg-6">
                <label for="">Country</label>
                <select formControlName="country" class="form-control" (change)="switchState($event)">
                    <option>India</option>
                    <option>America</option>
                </select>
            </div>
            <div class="col-lg-6">
                <label for="">States</label>
                <select formControlName="states" class="form-control">
                    <option *ngFor="let state of selectedState">{{state.name}}</option>
                </select>
            </div>
            
            <div class="col-lg-6 mt-2">
                <input [disabled]="userForm.invalid" type="submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>